@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Literata:wght@400;500&display=swap');

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('Background.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: fadeInBackground 1s ease-in-out;

}

@keyframes fadeInBackground {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.signup-container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
    height: 90%;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.signup-box, .info-box {
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    flex: 1;
    margin: 0 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.signup-box:hover, .info-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.signup-box {
    background: linear-gradient(135deg, #CBDDEC, #A3CBE5);
    z-index: 1;
    margin-right: -50px;
}

.info-box {
    background-color: #000000;
    color: white;
    z-index: 2;
    position: relative;
}

.signup-form h1 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-family: 'PT Serif', serif;
}

.form-group {
    margin: 15px 0;
    position: relative;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 80%;
    padding: 10px 15px 10px 40px;
    border-radius: 25px;
    border: none;
    font-size: 0.9em;
    background-color: #F3F6FA;
    color: #0B1320;
    transition: box-shadow 0.3s ease;
}

.form-group input:focus {
    box-shadow: 0 0 10px rgba(0, 100, 255, 0.5);
    outline: none;
}

.icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.email-icon {
    background-image: url('email.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.password-icon {
    background-image: url('password.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.signup-button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 60%;
    font-size: 1.1em;
    margin-top: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.signup-button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
